* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

/* estilos */

.div1 {
    width: 100vw;
    height: 100px;
    background-color: purple;
    display: grid;
}

.div2 {
    width: 50vw;
    height: 50px;
    background-color: yellow;
    display: grid;
}

.div3 {
    width: 50%;
    height: 25px;
    background-color: papayawhip;
}


