* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* estilos */
.main-container {
    width: 100%;
    height: 100vh;
    background-color: blueviolet;
}

.cabecera {
    width: 100%;
    height: 7%;
    background-color: aqua;
}

.inside-container {
    width: 100%;
    height: 86%;
    display: flex;
}

.main-container__seccion_side {
    width: 30%;
    height: 100%;
    background-color: beige;

}

.main-container__seccionprincipal {
    width: 70%;
    height: 100%;
    background-color: yellowgreen;

}